.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

/* 使所有标题居中 */
.skills h1, .skills h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem; /* 增加标题下方的间距 */
}

.skills__title {
  margin-bottom: 2em; /* 标题下方的间隙 */
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em; /* 项目之间的间隙 */
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.skills__list-item {
  flex: 1; /* 使每个技能项都有弹性空间 */
  max-width: calc(50% - 1em); /* 减去间隙的宽度 */
  box-sizing: border-box; /* 边框和内边距包含在宽度内 */
  margin-bottom: 2em; /* 项下方的间隙 */
  text-align: center; /* 文本居中 */
  padding: 20px; /* 内边距 */
  border-radius: 5px; /* 圆角边框 */
  transition: 0.3s; /* 过渡效果 */
}

.skills__list-item:hover {
  transform: translateY(-5px); /* 鼠标悬停时上移效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 鼠标悬停时的阴影效果 */
}

/* 调整Row和Col以确保内容居中 */
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem; /* 增加行之间的间距 */
}

.col {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0.5rem; /* 增加列之间的间隙 */
}

/* 技术图标的容器样式 */
.techstack {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.techstack__item {
  text-align: center;
}

.techstack__image {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

/* 鼠标悬浮时的阴影效果，可选 */
.techstack__item:hover .techstack__image {
  transform: scale(1.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* 响应式布局调整 */
@media (max-width: 1200px) {
  .techstack {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .techstack {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .techstack {
    grid-template-columns: repeat(2, 1fr);
  }
}